$light: #dad4bb;
$bg: #cdc8b0;
$medium: #b4af9a;
$dark: #4e4b42;
$important: #cd664d;

$colors: "light" $light, "bg" $bg, "medium" $medium, "dark" $dark, "important" $important, "none" transparent;
$rcolors: "light" $dark, "bg" $dark, "dark" $medium, "dark" $dark, "none" $dark;